@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;800&family=Russo+One&family=Shadows+Into+Light&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem .35rem;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
  word-spacing: .15rem;
  letter-spacing: .18rem;
  font-weight: bold;
  text-shadow: 2px 1px 2px cyan, -2px -1px 2px rgb(255, 53, 255);
  background-color: black;
  color: white;
}

.main-container {
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem .5rem 2.5rem .5rem;
  background-color: rgb(245, 250, 255);
}

.squares-container {
  width: 15.5rem;
  height: 15.5rem;
  flex-wrap: wrap;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.15), -2px 0 5px 1px rgba(0, 0, 0, 0.15);
  border-radius: .1rem;
  background-color: white;
  touch-action: none;
}

.btns-slider-container {
  flex-direction: column;
  gap: 1rem;
}

.top-btn, .mid-btn {
  gap: 1rem;
}

.btn {
  min-width: 7.15rem;
  padding: .55rem .75rem;
  border: .15rem solid black;
  border-radius: .5rem;
  background-color: black;
  word-spacing: .25rem;
  font-family: 'Russo One', sans-serif;
  font-size: 1.05rem;
  color: white;
  text-shadow: 2px 0 2px rgb(255, 53, 255), -2px 0 2px cyan;
  cursor: pointer;
}

.btn:active, .btn:hover {
  transform: scale(1.025);
}

label[for=slider] {
  margin-top: 1rem;
  font-family: 'Russo One', sans-serif;
  font-size: 1.1rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: .15rem;
  background-color: crimson;
  outline: none;
  /* opacity: .1; */
  /* transition: opacity 2s; */
}

/* .slider-effect {
  opacity: 1;
} */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: .85rem; 
  height: .85rem; 
  background: black;
  cursor: pointer; 
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: .85rem; 
  height: .85rem; 
  background: black; 
  cursor: pointer; 
  border-radius: 50%;
}

footer {
  gap: 1rem;
  flex-wrap: wrap;
  padding: .75rem .5rem;
  background-color: black;
}

.footer-text {
  text-shadow: 2px 0 2px rgb(255, 53, 255), -2px 0 2px cyan;
  font-family: 'JetBrains Mono', monospace;
}

.footer-text, .fa-github {
  color: white;
}

.fa-github {
  text-shadow: 1px 0 2px rgb(255, 53, 255), -1px 0 2px cyan;
  transition: 1s;
}

.fa-github:active, .fa-github:hover {
  transform: rotate(720deg);
}

@media (min-width: 350px) {
  .squares-container {
    width: 20rem;
    height: 20rem;
  }
}

@media (min-width: 400px) {
  .squares-container {
    width: 23rem;
    height: 23rem;
  }
}

@media (min-width: 600px) {
  .squares-container {
    width: 30rem;
    height: 30rem;
  }
  .btn {
    min-width: 9.5rem;
    padding: .7rem .75rem;
  }
}

@media (min-width: 900px) {
  .main-container {
    flex-direction: row-reverse;
    gap: 3.5rem;
    padding: 1.5rem;
  }
}