@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;800&family=Russo+One&family=Shadows+Into+Light&family=Press+Start+2P&family=PT+Mono&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .95);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines {
  border-style: solid;
  border-color: rgba(145, 145, 145, 0.85);
  border-width: 1px 0 0 1px;
}

.borders {
  border-style: solid;
  border-color: rgba(145, 145, 145, 0.85);
  border-width: 4px 5px 5px 4px;
}

header {
  padding: 50px 10px 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.35rem;
  word-spacing: -.55rem;
  letter-spacing: .1rem;
  font-weight: bold;
  text-shadow: 3px -1px 0 white;
  color: rgb(255, 176, 30);
}

.main-container {
  flex: 1;
  flex-direction: column;
  gap: 32px;
  padding: 24px 8px 40px 8px;
}

.squares-container {
  margin-right: -1px;
  box-sizing: content-box;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  touch-action: none;
}

.animate {
  animation: reset 1.5s forwards;
}
 
@keyframes reset {
  to {
    background-color: white;
    filter: brightness(1);
  }
}

.controls-container {
  flex-direction: column;
  gap: 20px;
}

.color-input {
  -webkit-appearance: none;
  width: 64px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 32px;
}

.color-input::-webkit-color-swatch {
  padding: 0;
  border: none;
  border-radius: 32px;
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  border-radius: 32px;
}

.top-btns,
.bottom-btns {
  gap: 18px;
}

.eraser:active,
.rainbow:active,
.reset:active,
.lines:active {
  color: white;
}

.btn {
  min-width: 120px;
  padding: 8px 10px;
  border: 4px solid rgb(255, 176, 30);
  border-radius: 8px;
  background-color: rgb(255, 176, 30);
  word-spacing: 4px;
  font-family: 'Russo One', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: transform .7s;
}

.btn:hover {
  transform: scale(1.05);
}

label[for="slider"] {
  margin-top: 10px;
  font-family: 'Russo One', sans-serif;
  font-size: 1.25rem;
  color: white;
}

.slider-text span {
  color: rgb(255, 176, 30);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 176, 30);
  outline: none;
  opacity: .4;
  transition: opacity 1s;
  touch-action: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px; 
  height: 16px; 
  background: white;
  cursor: pointer; 
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 16px; 
  height: 16px; 
  background: white;
  cursor: pointer; 
  border-radius: 50%;
}

.full-opacity {
  opacity: 1;
  filter: brightness(1.1);
}

footer {
  gap: 14px;
  flex-wrap: wrap;
  padding: 12px 8px;
}

.footer-text {
  font-family: 'JetBrains Mono', monospace;
}

.copyright-icon {
  font-size: 2rem;
  vertical-align: sub;
  font-family: 'PT Mono', monospace;
}

.footer-text, .fa-github {
  color: rgb(255, 176, 30);
}

.fa-github {
  transition: 1s;
}

.fa-github:active, .fa-github:hover {
  transform: rotate(720deg);
}

@media (min-width: 350px) {
  header {
    font-size: 1.55rem;
  }
  .squares-container {
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 400px) {
  .squares-container {
    width: 365px;
    height: 365px;
  }
  .btn {
    min-width: 135px;
    font-size: 1.1rem;
  }
}

@media (min-width: 500px) {
  .squares-container {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 600px) {
  header {
    font-size: 1.85rem;
  }
  .squares-container {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 950px) {
  header {
    font-size: 2rem;
  }
  .main-container {
    flex-direction: row-reverse;
    gap: 60px;
    padding: 24px;
  }
}